<%= form_for(@standing) do |f| %>
  <% if @standing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@standing.errors.count, "error") %> prohibited this standing from being saved:</h2>

      <ul>
      <% @standing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Jake %>
    <%= f.number_field :player1 %>
    <br><br/>
     <%= f.label :Jason %>
    <%= f.number_field :player2 %>
    <br><br/>
     <%= f.label :Ron %>
    <%= f.number_field :player3 %>
    <br><br/>
     <%= f.label :Eric %>
    <%= f.number_field :player4 %>
    <br><br/>
     <%= f.label :Wayne %>
    <%= f.number_field :player5 %>
    <br><br/>
     <%= f.label :Damian %>
    <%= f.number_field :player6 %>
    <br><br/>
     <%= f.label :Pete %>
    <%= f.number_field :player7 %>
    <br><br/>
     <%= f.label :Justin %>
    <%= f.number_field :player8 %>
    <br><br/>
     <%= f.label :Josh %>
    <%= f.number_field :player9 %>
    <br><br/>
     <%= f.label :Will %>
    <%= f.number_field :player10 %>
    <br><br/>
     <%= f.label :Carl %>
    <%= f.number_field :player11 %>
    <br><br/>
     <%= f.label :Art %>
    <%= f.number_field :player12 %>
    <br><br/>
     <%= f.label :Zach %>
    <%= f.number_field :player13 %>
    <br><br/>
     <%= f.label :Kyle %>
    <%= f.number_field :player14 %>
    <br><br/>
     <%= f.label :Marcus %>
    <%= f.number_field :player15 %>
    <br><br/>
  </div>    <br><br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
