<%= form_for(@standing) do |f| %>
  <% if @standing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@standing.errors.count, "error") %> prohibited this standing from being saved:</h2>

      <ul>
      <% @standing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :player1 %>
    <%= f.number_field :player1 %>
    <br><br/>
     <%= f.label :player2 %>
    <%= f.number_field :player2 %>
    <br><br/>
     <%= f.label :player3 %>
    <%= f.number_field :player3 %>
    <br><br/>
     <%= f.label :player4 %>
    <%= f.number_field :player4 %>
    <br><br/>
     <%= f.label :player5 %>
    <%= f.number_field :player5 %>
    <br><br/>
     <%= f.label :player6 %>
    <%= f.number_field :player6 %>
    <br><br/>
     <%= f.label :player7 %>
    <%= f.number_field :player7 %>
    <br><br/>
     <%= f.label :player8 %>
    <%= f.number_field :player8 %>
    <br><br/>
     <%= f.label :player9 %>
    <%= f.number_field :player9 %>
    <br><br/>
     <%= f.label :player10 %>
    <%= f.number_field :player10 %>
    <br><br/>
     <%= f.label :player11 %>
    <%= f.number_field :player11 %>
    <br><br/>
     <%= f.label :player12 %>
    <%= f.number_field :player12 %>
    <br><br/>
     <%= f.label :player13 %>
    <%= f.number_field :player13 %>
    <br><br/>
     <%= f.label :player14 %>
    <%= f.number_field :player14 %>
    <br><br/>
     <%= f.label :player15 %>
    <%= f.number_field :player15 %>
    <br><br/>
    <%= f.label :player16 %>
    <%= f.number_field :player16 %>
    <br><br/>
    <%= f.label :player17 %>
    <%= f.number_field :player17 %>
    <br><br/>
    <%= f.label :player18 %>
    <%= f.number_field :player18 %>
    <br><br/>
    <%= f.label :player19 %>
    <%= f.number_field :player19 %>
    <br><br/>
    <%= f.label :player20 %>
    <%= f.number_field :player20 %>
    <br><br/>
    <%= f.label :player21 %>
    <%= f.number_field :player21 %>
    <br><br/>
    <%= f.label :player22 %>
    <%= f.number_field :player22 %>
    <br><br/>
    <%= f.label :player23 %>
    <%= f.number_field :player23 %>
    <br><br/>
    <%= f.label :player24 %>
    <%= f.number_field :player24 %>
    <br><br/>
    <%= f.label :player25 %>
    <%= f.number_field :player25 %>
    <br><br/>
    <%= f.label :player26 %>
    <%= f.number_field :player26 %>
    <br><br/>
    <%= f.label :player27 %>
    <%= f.number_field :player27 %>
    <br><br/>
    <%= f.label :player28 %>
    <%= f.number_field :player28 %>
    <br><br/>
    <%= f.label :player29 %>
    <%= f.number_field :player29 %>
    <br><br/>
    <%= f.label :player30 %>
    <%= f.number_field :player30 %>
    <br><br/>
  </div>    <br><br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
