<p id="notice"><%= notice %></p>

<h2>HUMBOLDT FANTASY BETTING LEAGUE STANDINGS</h2>
<br>
<br>

<div class="row">
  <div class="span4">
    <table class = "gridtable">  
      <tbody>
        <tr>
          <th>1</th><td><%=@standing.username1%></td><td><%=@standing.player1%></td></tr><tr>
          <th>2</th><td><%=@standing.username2%></td><td><%=@standing.player2%></td></tr><tr>
          <th>3</th><td><%=@standing.username3%></td><td><%=@standing.player3%></td></tr><tr>
          <th>4</th><td><%=@standing.username4%></td><td><%=@standing.player4%></td></tr><tr>
          <th>5</th><td><%=@standing.username5%></td><td><%=@standing.player5%></td></tr><tr>
          <th>6</th><td><%=@standing.username6%></td><td><%=@standing.player6%></td></tr><tr>
          <th>7</th><td><%=@standing.username7%></td><td><%=@standing.player7%></td></tr><tr>
          <th>8</th><td><%=@standing.username8%></td><td><%=@standing.player8%></td></tr><tr>
          <th>9</th><td><%=@standing.username9%></td><td><%=@standing.player9%></td></tr><tr>
          <th>10</th><td><%=@standing.username10%></td><td><%=@standing.player10%></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="span4">
    <table class = "gridtable">  
      <tbody>
        <tr>
          <th>11</th><td><%=@standing.username11%></td><td><%=@standing.player11%></td></tr><tr>
          <th>12</th><td><%=@standing.username12%></td><td><%=@standing.player12%></td></tr><tr>
          <th>13</th><td><%=@standing.username13%></td><td><%=@standing.player13%></td></tr><tr>
          <th>14</th><td><%=@standing.username14%></td><td><%=@standing.player14%></td></tr><tr>
          <th>15</th><td><%=@standing.username15%></td><td><%=@standing.player15%></td></tr><tr>
          <th>16</th><td><%=@standing.username16%></td><td><%=@standing.player16%></td></tr><tr>
          <th>17</th><td><%=@standing.username17%></td><td><%=@standing.player17%></td></tr><tr>
          <th>18</th><td><%=@standing.username18%></td><td><%=@standing.player18%></td></tr><tr>
          <th>19</th><td><%=@standing.username19%></td><td><%=@standing.player19%></td></tr><tr>
          <th>20</th><td><%=@standing.username20%></td><td><%=@standing.player20%></td></tr>
      </tbody>
    </table>
  </div>

  <div class="span4">
    <table class = "gridtable">  
      <tbody>
        <tr>
          <th>21</th><td><%=@standing.username21%></td><td><%=@standing.player21%></td></tr><tr>
          <th>22</th><td><%=@standing.username22%></td><td><%=@standing.player22%></td></tr><tr>
          <th>23</th><td><%=@standing.username23%></td><td><%=@standing.player23%></td></tr><tr>
          <th>24</th><td><%=@standing.username24%></td><td><%=@standing.player24%></td></tr><tr>
          <th>25</th><td><%=@standing.username25%></td><td><%=@standing.player25%></td></tr><tr>
          <th>26</th><td><%=@standing.username26%></td><td><%=@standing.player26%></td></tr><tr>
          <th>27</th><td><%=@standing.username27%></td><td><%=@standing.player27%></td></tr><tr>
          <th>28</th><td><%=@standing.username28%></td><td><%=@standing.player28%></td></tr><tr>
          <th>29</th><td><%=@standing.username29%></td><td><%=@standing.player29%></td></tr><tr>
          <th>30</th><td><%=@standing.username30%></td><td><%=@standing.player30%></td></tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
<% if current_user.id == 2 %>
    <h3><%= link_to 'Edit', edit_standing_path(@standing) %></h3>
   <% end %>
</div>
