<p id="notice"><%= notice %></p>

<h2>HUMBOLDT FANTASY BETTING LEAGUE STANDINGS</h2>
<br>
<br>
<div class="row">
  <div class="span4">
    <table class = "gridtable">  
      <tbody>
        <tr>
          <th>1</th><td><%=@pointsArray[0][1]%></td><td><%=@pointsArray[0][0]%></td></tr><tr>
          <th>2</th><td><%=@pointsArray[1][1]%></td><td><%=@pointsArray[1][0]%></td></tr><tr>
          <th>3</th><td><%=@pointsArray[2][1]%></td><td><%=@pointsArray[2][0]%></td></tr><tr>
          <th>4</th><td><%=@pointsArray[3][1]%></td><td><%=@pointsArray[3][0]%></td></tr><tr>
          <th>5</th><td><%=@pointsArray[4][1]%></td><td><%=@pointsArray[4][0]%></td></tr><tr>
          <th>6</th><td><%=@pointsArray[5][1]%></td><td><%=@pointsArray[5][0]%></td></tr><tr>
          <th>7</th><td><%=@pointsArray[6][1]%></td><td><%=@pointsArray[6][0]%></td></tr><tr>
          <th>8</th><td><%=@pointsArray[7][1]%></td><td><%=@pointsArray[7][0]%></td></tr><tr>
          <th>9</th><td><%=@pointsArray[8][1]%></td><td><%=@pointsArray[8][0]%></td></tr><tr>
          <th>10</th><td><%=@pointsArray[9][1]%></td><td><%=@pointsArray[9][0]%></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="span4">
    <table class = "gridtable">  
      <tbody>
        <tr>
          <th>11</th><td><%=@pointsArray[10][1]%></td><td><%=@pointsArray[10][0]%></td></tr><tr>
          <th>12</th><td><%=@pointsArray[11][1]%></td><td><%=@pointsArray[11][0]%></td></tr><tr>
          <th>13</th><td><%=@pointsArray[12][1]%></td><td><%=@pointsArray[12][0]%></td></tr><tr>
          <th>14</th><td><%=@pointsArray[13][1]%></td><td><%=@pointsArray[13][0]%></td></tr><tr>
          <th>15</th><td><%=@pointsArray[14][1]%></td><td><%=@pointsArray[14][0]%></td></tr><tr>
          <th>16</th><td><%=@pointsArray[15][1]%></td><td><%=@pointsArray[15][0]%></td></tr><tr>
          <th>17</th><td><%=@pointsArray[16][1]%></td><td><%=@pointsArray[16][0]%></td></tr><tr>
          <th>18</th><td><%=@pointsArray[17][1]%></td><td><%=@pointsArray[17][0]%></td></tr><tr>
          <th>19</th><td><%=@pointsArray[18][1]%></td><td><%=@pointsArray[18][0]%></td></tr><tr>
          <th>20</th><td><%=@pointsArray[19][1]%></td><td><%=@pointsArray[19][0]%></td></tr>
      </tbody>
    </table>
  </div>

  <div class="span4">
    <table class = "gridtable">  
      <tbody>
        <tr>
          <th>21</th><td><%=@pointsArray[20][1]%></td><td><%=@pointsArray[20][0]%></td></tr><tr>
          <th>22</th><td><%=@pointsArray[21][1]%></td><td><%=@pointsArray[21][0]%></td></tr><tr>
          <th>23</th><td><%=@pointsArray[22][1]%></td><td><%=@pointsArray[22][0]%></td></tr><tr>
          <th>24</th><td><%=@pointsArray[23][1]%></td><td><%=@pointsArray[23][0]%></td></tr><tr>
          <th>25</th><td><%=@pointsArray[24][1]%></td><td><%=@pointsArray[24][0]%></td></tr><tr>
          <th>26</th><td><%=@pointsArray[25][1]%></td><td><%=@pointsArray[25][0]%></td></tr><tr>
          <th>27</th><td><%=@pointsArray[26][1]%></td><td><%=@pointsArray[26][0]%></td></tr><tr>
          <th>28</th><td><%=@pointsArray[27][1]%></td><td><%=@pointsArray[27][0]%></td></tr><tr>
          <th>29</th><td><%=@pointsArray[28][1]%></td><td><%=@pointsArray[28][0]%></td></tr><tr>
          <th>30</th><td><%=@pointsArray[29][1]%></td><td><%=@pointsArray[29][0]%></td></tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
<% if current_user.id == 2 %>
    <h3><%= link_to 'Edit', edit_standing_path(@standing) %></h3>
   <% end %>
</div>
