<p id="notice"><%= notice %></p>

<h2>HUMBOLDT FANTASY BETTING LEAGUE STANDINGS</h2>
<br>
<br>

<div class="row">
  <div class="span4">
    <table class = "gridtable">  
      <tbody>
        <tr>
          <th>1</th><td>kyledunaway</td><td><%=@standing.player1%></td></tr><tr>
          <th>2</th><td>Commissioner Cox</td><td><%=@standing.player2%></td></tr><tr>
          <th>3</th><td>ctstumpf</td><td><%=@standing.player3%></td></tr><tr>
          <th>4</th><td>crutonimo</td><td><%=@standing.player4%></td></tr><tr>
          <th>5</th><td>Ergit</td><td><%=@standing.player5%></td></tr><tr>
          <th>6</th><td>Damian</td><td><%=@standing.player6%></td></tr><tr>
          <th>7</th><td>waynetrain</td><td><%=@standing.player7%></td></tr><tr>
          <th>8</th><td>Baseball Millionaire</td><td><%=@standing.player8%></td></tr><tr>
          <th>9</th><td>humweb</td><td><%=@standing.player9%></td></tr><tr>
          <th>10</th><td>Samurai Hulk</td><td><%=@standing.player10%></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="span4">
    <table class = "gridtable">  
      <tbody>
        <tr>
          <th>11</th><td>zachneider</td><td><%=@standing.player11%></td></tr><tr>
          <th>12</th><td>jmcavene</td><td><%=@standing.player12%></td></tr><tr>
          <th>13</th><td>feistytroll</td><td><%=@standing.player13%></td></tr><tr>
          <th>14</th><td>Danny Hartman</td><td><%=@standing.player14%></td></tr><tr>
          <th>15</th><td>cheber</td><td><%=@standing.player15%></td></tr><tr>
          <th>16</th><td>JB</td><td><%=@standing.player16%></td></tr><tr>
          <th>17</th><td>Briancholy</td><td><%=@standing.player17%></td></tr><tr>
          <th>18</th><td>PattyMack</td><td><%=@standing.player18%></td></tr><tr>
          <th>19</th><td>player19</td><td><%=@standing.player19%></td></tr><tr>
          <th>20</th><td>player20</td><td><%=@standing.player20%></td></tr>
      </tbody>
    </table>
  </div>

  <div class="span4">
    <table class = "gridtable">  
      <tbody>
        <tr>
          <th>21</th><td>player21</td><td><%=@standing.player21%></td></tr><tr>
          <th>22</th><td>player22</td><td><%=@standing.player22%></td></tr><tr>
          <th>23</th><td>player23</td><td><%=@standing.player23%></td></tr><tr>
          <th>24</th><td>player24</td><td><%=@standing.player24%></td></tr><tr>
          <th>25</th><td>player25</td><td><%=@standing.player25%></td></tr><tr>
          <th>26</th><td>player26</td><td><%=@standing.player26%></td></tr><tr>
          <th>27</th><td>player27</td><td><%=@standing.player27%></td></tr><tr>
          <th>28</th><td>player28</td><td><%=@standing.player28%></td></tr><tr>
          <th>29</th><td>player29</td><td><%=@standing.player29%></td></tr><tr>
          <th>30</th><td>player30</td><td><%=@standing.player30%></td></tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
<% if current_user.id == 2 %>
    <h3><%= link_to 'Edit', edit_standing_path(@standing) %></h3>
   <% end %>
</div>
