<h2>Weekly Picks</h2>

<% if current_user.id == 2 || current_user.id == 1%>
<table class = "table">
  <thead>
    <tr>
      <th>Week #</th>
      <th>Name</th>
      <th>Picks</th>
      <th>Time </th>
    </tr>
  </thead>
  <tbody> 
    <tr>
      <td><a href="#" class="toggler" show-picks="1">1</a></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <% @week1.each do |w| %>
    <tr class="week1" style="display:none">
      <td></td>
      <td><%= w.username %></td>
      <td><%= w.pick_content %></td>
      <td><%=l w.updated_at, :format => :sample %></td>
    </tr>
    <% end %>

     <tr>
      <td><a href="#" class="toggler" show-picks="2">2</a></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <% @week2.each do |w| %>
    <tr class="week2" style="display:none">
      <td></td>
      <td><%= w.username %></td>
      <td><%= w.pick_content %></td>
      <td><%=l w.updated_at, :format => :sample %></td>
    </tr>
    <% end %>

     <tr>
      <td><a href="#" class="toggler" show-picks="3">3</a></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <% @week3.each do |w| %>
    <tr class="week3" style="display:none">
      <td></td>
      <td><%= w.username %></td>
      <td><%= w.pick_content %></td>
      <td><%=l w.updated_at, :format => :sample %></td>
    </tr>
    <% end %>

     <tr>
      <td><a href="#" class="toggler" show-picks="4">4</a></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <% @week4.each do |w| %>
    <tr class="week4" style="display:none">
      <td></td>
      <td><%= w.username %></td>
      <td><%= w.pick_content %></td>
      <td><%=l w.updated_at, :format => :sample %></td>
    </tr>
    <% end %>

     <tr>
      <td><a href="#" class="toggler" show-picks="5">5</a></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <% @week5.each do |w| %>
    <tr class="week5" style="display:none">
      <td></td>
      <td><%= w.username %></td>
      <td><%= w.pick_content %></td>
      <td><%=l w.updated_at, :format => :sample %></td>
    </tr>
    <% end %>

    <tr>
      <td><a href="#" class="toggler" show-picks="6">6</a></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <% @week6.each do |w| %>
    <tr class="week6" style="display:none">
      <td></td>
      <td><%= w.username %></td>
      <td><%= w.pick_content %></td>
      <td><%=l w.updated_at, :format => :sample %></td>
    </tr>
    <% end %>

    <tr>
      <td><a href="#" class="toggler" show-picks="7">7</a></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <% @week7.each do |w| %>
    <tr class="week7" style="display:none">
      <td></td>
      <td><%= w.username %></td>
      <td><%= w.pick_content %></td>
      <td><%=l w.updated_at, :format => :sample %></td>
    </tr>
    <% end %>

     <tr>
      <td><a href="#" class="toggler" show-picks="8">8</a></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <% @week8.each do |w| %>
    <tr class="week8" style="display:none">
      <td></td>
      <td><%= w.username %></td>
      <td><%= w.pick_content %></td>
      <td><%=l w.updated_at, :format => :sample %></td>
    </tr>
    <% end %>

     <tr>
      <td><a href="#" class="toggler" show-picks="9">9</a></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <% @week9.each do |w| %>
    <tr class="week9" style="display:none">
      <td></td>
      <td><%= w.username %></td>
      <td><%= w.pick_content %></td>
      <td><%=l w.updated_at, :format => :sample %></td>
    </tr>
    <% end %>

     <tr>
      <td><a href="#" class="toggler" show-picks="10">10</a></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <% @week10.each do |w| %>
    <tr class="week10" style="display:none">
      <td></td>
      <td><%= w.username %></td>
      <td><%= w.pick_content %></td>
      <td><%=l w.updated_at, :format => :sample %></td>
    </tr>
    <% end %>

     <tr>
      <td><a href="#" class="toggler" show-picks="11">11</a></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <% @week11.each do |w| %>
    <tr class="week11" style="display:none">
      <td></td>
      <td><%= w.username %></td>
      <td><%= w.pick_content %></td>
      <td><%=l w.updated_at, :format => :sample %></td>
    </tr>
    <% end %>

    <tr>
      <td><a href="#" class="toggler" show-picks="12">12</a></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <% @week12.each do |w| %>
    <tr class="week12" style="display:none">
      <td></td>
      <td><%= w.username %></td>
      <td><%= w.pick_content %></td>
      <td><%=l w.updated_at, :format => :sample %></td>
    </tr>
    <% end %>

    <tr>
      <td><a href="#" class="toggler" show-picks="13">13</a></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <% @week13.each do |w| %>
    <tr class="week13" style="display:none">
      <td></td>
      <td><%= w.username %></td>
      <td><%= w.pick_content %></td>
      <td><%=l w.updated_at, :format => :sample %></td>
    </tr>
    <% end %>

    <tr>
      <td><a href="#" class="toggler" show-picks="14">14</a></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <% @week14.each do |w| %>
    <tr class="week14" style="display:none">
      <td></td>
      <td><%= w.username %></td>
      <td><%= w.pick_content %></td>
      <td><%=l w.updated_at, :format => :sample %></td>
    </tr>
    <% end %>

     <tr>
      <td><a href="#" class="toggler" show-picks="15">15</a></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <% @week15.each do |w| %>
    <tr class="week15" style="display:none">
      <td></td>
      <td><%= w.username %></td>
      <td><%= w.pick_content %></td>
      <td><%=l w.updated_at, :format => :sample %></td>
    </tr>
    <% end %>

    <tr>
      <td><a href="#" class="toggler" show-picks="16">16</a></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <% @week16.each do |w| %>
    <tr class="week16" style="display:none">
      <td></td>
      <td><%= w.username %></td>
      <td><%= w.pick_content %></td>
      <td><%=l w.updated_at, :format => :sample %></td>
    </tr>
    <% end %>

     <tr>
      <td><a href="#" class="toggler" show-picks="17">17</a></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <% @week17.each do |w| %>
    <tr class="week17" style="display:none">
      <td></td>
      <td><%= w.username %></td>
      <td><%= w.pick_content %></td>
      <td><%=l w.updated_at, :format => :sample %></td>
    </tr>
    <% end %>

  </tbody>
</table>
<% end %>