

<div class = "row">
  <div class = "span4">
    <%= form_for [@user, @pick] do |f| %>
      <% if @pick.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
            <ul>
              <% for message in @pick.errors.full_messages %>
                <li><%= message %></li>
              <% end %>
            </ul>
        </div>
      <% end %>
    
    <h4>
      Week Number
    </h4>

    <%= f.select :week_number, (3..3) %>
      <h4>
        Make Your Picks (List them 1-3) </br>
      </h4>
   
      <p>
        <%= f.text_area :pick_content %>
      </p>
  
      <%= f.submit "Submit", class: "button" %>
    <% end %>
  </div>

  <div class = "span8">

    <h3> Example Submission for Week Picks </h3>
    <h4>Like the rules say, only put the team you want to win,</h4>
    <h4>or the team name and either "over" or "under".</h4>
    <h4>[1] S.F.</h4>
    <h4>[2] Arizona </h4>
    <h4>[3] Ravens over</h4>

    <h4>Try and seperate each pick with numbers.</h4>
  </div>

</div>
