<%= form_for @pick do |f| %>
<% if @pick.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @pick.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label "Week Number" %><br />
    <%= f.text_field :week_number %>
  </p>
  <p>
    Make Your Picks (List them 1-3) </br>
   </p>
   <p>
    <%= link_to "See example", static_example_path %>
   </p>
   <p>
    <%= f.label :pick_content, "Pick Content" %>
  </br>
    <%= f.text_area :pick_content %>
  </p>

  

  <p class="button"><%= f.submit %></p>
<% end %>
