<h1>Message Board</h1>


<h4><%= link_to "Post a New Message", new_post_path, :class => "new_message"%></h4>
  <% @posts.each do |post| %>
    <div id="posts" style="border:1px solid black; padding-left:10%;">
    <h4><%= link_to post.title, post %></h4>
    <%= simple_format post.text %>
    <h6>Posted By: <%= post.user.username %> on <%= l post.created_at, :format => :sample %>
    <h6><%= link_to "Comments", post_path(post), :class => "comments" %> (<%= post.comments.count %>)</h6>
    <% if current_user.id == post.user.id %>
    <%= link_to "Edit   ", edit_post_path(post) %>
    <%= link_to '|   Delete', post, :method => :delete, :confirm => "Are you sure?" %>
    <% end %> 
    </div>
    <br>
  <% end %>




