<div id="posts" style="border:1px solid black; padding-left:5%; padding-right:5%">
<p>
  <h4 style="color: rgb(66,139,202);"><%= @post.title %></h4>
</p>
 
<p>
	<%= simple_format @post.text %>
</p>
<h6><%= @post.user.username %> on <%= l @post.created_at, :format => :sample %></h6>
</div>
<br></br>
<h4 style="color: red;">Comments</h4>
<%= render @post.comments.order('created_at DESC').all %>
<br></br>
<h5>Add a comment:</h5>
<%= render "comments/form" %>

<h3><%= link_to "Back to Message Board", posts_path %></h3>

