

<h1>Weekly Lines and Cash Bets</h1>


<% if current_user.id == 2 %>
<h4><%= link_to "Post New Lines", new_line_post_path %></h4>
<% end %> 

  <% @line_posts.each do |post| %>
  	<div id="posts" style="border:1px solid black; padding-left:10%;">
    <h4><%= link_to post.title, post %></h4>
    <%= simple_format post.content %>    
    <% if current_user.id == post.user.id %>
    <%= link_to "Edit   ", edit_line_post_path(post) %>
    <%= link_to '|   Delete', post, :method => :delete, :confirm => "Are you sure?" %>
    <% end %> 
    </div>
  <% end %>



